# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/

# Pyenv
.python-version

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.env.local
.env.*.local

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Linux
*.swp
*~

# Windows
Thumbs.db
desktop.ini

# Logs
*.log

# Local configuration
config/

# System files
.Python
cython_debug/
